apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: vigneshbaskar-dev
data:
  grafana.ini: |
    [server]
    root_url = http://localhost:3000

  # Fixing the invalid key by replacing '/' with '-'
  provisioning-datasources-loki.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        url: http://loki:3100
        access: proxy
        isDefault: true
